.container {
  display: flex;
  gap: 8rem;
}

.peer-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.peer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  border-radius: 8px;
  /* background-color: red; */
  padding: 1.5rem 3rem;
  border: 3px solid #212121;
}

.peer-card-selected {
  border-color: #4e4e4e;
}

.peer-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.peer-profile-name {
  font-size: 1.5rem;
}

.gray-text {
  color: #5d5d5d;
}

.button {
  background-color: #0070f3;
  color: white;
  outline: none;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
  display: inline;
  margin-top: 1rem;
}
